@import "./base/base.less";
@import "./base/init.less";
@import "./mixin/loading.less";

.loadingMixin();

page {
  height: 100%;
  font-size: 12px;
}

.home {
  font-size: 12px;
  height: 100%;
  background-color: @bgColor;

  .list {
    height: 100%;
    z-index: 100;

    .navbar {
      display: flex;
      white-space: nowrap;
      width: 100%;
      background-color: #fff;

      .navbar_item {
        width: 200rpx;
        height: 40px;
        color: @Red1;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
      }

      .active {
        border-bottom: 2px solid @Red1;
      }
    }

    .topics {
      background-color: #fff;
      margin-top: 10px;
    }
  }
}

.navigator-hover,
.navbar_hover,
.btn-hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cell {
  width: auto;
  padding: 30rpx 10px;
  border-bottom: 1px solid @borderColor;
  color: @grayDarken;
}

.detail {
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    .image {
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
      margin-left: 20rpx;
    }
  }
}

.login {
  background-color: @graylighten2;
  height: 100%;

  .title {
    text-align: center;
    margin-bottom: 50rpx;
    border-bottom: none;
    font-size: 18px;
  }

  .section {
    background-color: #fff;
    height: 100rpx;
    display: flex;
    align-items: center;
    text-indent: 10rpx;

    input {
      width: 100%;
      padding: 0 10px;
    }
  }

  .btn {
    width: 90%;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }

  // button {
  //   font-size: 12px;
  // }

  .userinfo {
    .top {
      width: 100%;
      height: 300rpx;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: @graylighten;

      .avator {
        width: 100rpx;
        height: 100rpx;
        border-radius: 50%;
      }
    }
  }

  .content {
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    background-color: #fff;
  }
}
